<div>

    <div class="body">
        <form [formGroup]="formGroupClient">
            <h2>Cadastro de Cliente</h2>

            <label for="nome">Nome:</label>
            <input class="form-control" type="text" id="name" formControlName="name" name="name">

            <div *ngIf="submited">
                <small *ngIf="name.hasError('required')" class="text-danger">O Nome é Obrigatório</small>
                <small *ngIf="name.hasError('minlength')" class="text-danger">O Nome tem que ter pelo menos 5
                    Caracteres</small>
            </div>

            <label for="email">Email:</label>
            <input class="form-control" type="email" id="email" formControlName="email" name="email">
            <div *ngIf="submited">
                <small *ngIf="email.hasError('required')" class="text-danger">O Email é Obrigatório</small>
                <small *ngIf="email.hasError('email')" class="text-danger"> Digite um email Válido</small>
            </div>

            <label for="telefone">Telefone:</label>
            <input class="form-control" type="tel" id="phone" formControlName="phone" name="phone">

            <div *ngIf="submited">
                <small *ngIf="phone.hasError('required')" class="text-danger">O Telefone é Obrigatório</small>

            </div>

            <div class="div-row">
                <div>
                    <label for="endereco">Endereço:</label>
                    <input class="form-control" type="text" id="address" formControlName="address" name="address">
                    <div *ngIf="submited">
                        <small *ngIf="address.hasError('required')" class="text-danger">O Endereço é Obrigatório</small>
                        <small *ngIf="address.hasError('minlength')" class="text-danger">Digite um Endereço
                            Válido</small>
                    </div>
                </div>

                <div>
                    <label for="endereco">Cidade:</label>
                    <input class="form-control" type="text" id="city" formControlName="city" name="city">
                    <div *ngIf="submited">
                        <small *ngIf="city.hasError('required')" class="text-danger">A Cidade é Obrigatório</small>
                        <small *ngIf="city.hasError('minlength')" class="text-danger">Digite uma Cidade Válida</small>
                    </div>
                </div>

            </div>
            <div class="div-row">
                <div>
                    <label for="endereco">CEP:</label>
                    <input class="form-control" type="text" id="cep" formControlName="cep" name="cep" mask="000000-000">
                    <div *ngIf="submited">
                        <small *ngIf="cep.hasError('required')" class="text-danger">O CEP é Obrigatório</small>
                        <small *ngIf="cep.hasError('maxlength')" class="text-danger">Digite um CEP Válido:
                            12376512</small>
                    </div>
                </div>



                <div>
                    <label for="endereco">Estado:</label>
                    <input class="form-control" type="text" id="state" formControlName="state" name="state">
                    <div *ngIf="submited">
                        <small *ngIf="state.hasError('required')" class="text-danger">O Estado é Obrigatório</small>
                        <small *ngIf="state.hasError('maxlength')" class="text-danger">Digite um Estado: SP, RJ
                            etc..</small>
                    </div>
                </div>


            </div>

            <div class="btn-group-vertical" style="display: flex; align-items: stretch;">
                <button type="button" class="btn btn-success" (click)="save()">Cadastrar/Editar</button>


            </div>

            <label for="search" style="padding-top: 8px;">Pesquisar Cliente:</label>
            <input placeholder="Digite o nome do Cliente" class="form-control" type="text" id="search" formControlName="search" name="search">

            <div class="btn-group-vertical" style="display: flex; align-items: stretch;">
                <button type="button" class="btn btn-warning" (click)="pesquisar(search)">Pesquisar</button>
                <button type="button" class="btn btn-info" (click)="limparPesquisa()">Limpar Pesquisa</button>
            </div>
        </form>

    </div>

    <div class="list-grid">
        <ul>
            <div *ngFor="let client of filteredClients">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{client.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{client.email}}</h6>
                        <p class="card-text">Telefone: {{client.phone}}</p>
                        <p class="card-text">Endereço: {{client.address}}</p>
                        <p class="card-text">Cidade {{client.city}}</p>
                        <p class="card-text">Estado: {{client.state}}</p>
                        <p class="card-text">CEP: {{client.cep}}</p>
                        <div class="btn-group-vertical" style="display: flex; align-items: stretch;">
                            <button type="button" class="btn btn-primary" (click)="alterar(client)">Alterar</button>
                            <button type="button" class="btn btn-danger" (click)="remove(client)">Excluir</button>


                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>



</div>