.body {
    font-family: Arial, sans-serif;
    background-color: wheat;
    padding: 4px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 500px;
}



form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.menubutton {
    align-self: center;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.menubutton:hover {
    background-color: #45a049;
}

.div-row {
    display: flex;
    align-items: stretch;
}

.list-grid {
    font-family: Arial, sans-serif;
    background-color: wheat;
    margin: auto;
    padding: 32px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    min-height: 100vh;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0;
}

li {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}